<table width="100%">
  <tr>
    <td>Permalink:</td>
    <td><%= f.text_field :permalink %></td>
  </tr>
  <tr>
    <td>Body:</td>
    <td><%= f.text_area :body %></td>
  </tr>
</table>
<%= submit_tag %>