<%= render :partial => "preview", :locals => { :content => @content, :preview => @preview } %>
<h2>New Content</h2>
<%= error_messages_for :content %>
<% form_for :content, @content, :url => admin_contents_path, :html => { :method => :post } do |f|  %>
  <%= render :partial => "fields", :locals => { :f => f } %>
<% end %>