<li>
  <h2><%= h page.url %></h2>
  <ul class="counts">
    <% for phrase in Phrase.for_page(page) %>
      <li>
        <%= h phrase.text %>:
        <%= h page.average_count_for_since(phrase.text, Time.now.utc - 1.week) %>
      </li>
    <% end %>
  </ul>
</li>
