<li>
  <h2><%= h page.url %></h2>
  <ul class="counts">
    <% for phrase in Phrase.for_page(page) %>
      <li>
        <% counts = page.counts_since(phrase.text, Time.now.utc - 2.weeks) %>
        <%= content_tag :img, nil, {
          :src => "http://chart.apis.google.com/chart?cht=ls&chs=200x75&chl=#{phrase.text}&chd=t:#{counts.map { |c| c.count }.join(",")}"
        } %>
    <% end %>
  </ul>
</li>
