<li>
  <h2><%= h page.url %></h2>
  <ul class="counts">
    <% for phrase_count in page.phrase_counts %>
      <li>
        <%= h phrase_count.phrase.text %>:
        <%= h phrase_count.count %>
        at
        <%= h phrase_count.created_at %>
      </li>
    <% end %>
  </ul>
</li>
