<li>
  <h2><%= h page.url %></h2>
  <ul class="counts">
    <% for phrase_count in page.phrase_counts %>
      <li>
        <h3><%= h phrase_count.phrase.text %></h3>
        <p>
          <%= h phrase_count.count %>
        </p>
      </li>
    <% end %>
  </ul>
</li>
